
{{#each tweet}}
    <table class="ui fixed centre aligned table">
        <thead>
        <tr>
            {{#if ../globalTimeline}}
                <th class="one wide"> User </th>
            {{/if}}
            <th class="six wide"> Tweet </th>
            <th class="two wide"> Date </th>
            {{#unless ../globalTimeline}}
                    <th class="one wide"> Delete </th>
            {{/unless}}
        </tr>
        </thead>
        <tbody>
        <div class="ui bulleted list">
            <tr>
                {{#if ../globalTimeline}}
                    <td><a href="/viewUser/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></td>
                {{/if}}
                <td>{{message}}</td>
                <td>{{date}}</td>
                {{#unless ../globalTimeline}}
                    <td>
                        <a href="/removeTweet/{{id}}">
                            <i class=" large red trash icon"></i>
                        </a>
                    </td>
                {{/unless}}
                {{#if ../globalTimeline}}
                    <td><a href="/viewUser/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></td>
                {{/if}}
            </tr>
        </div>
        </tbody>
    </table>
{{/each}}
{{#unless globalTimeline}}
    <form name="deleteSet"  action="/deleteAll/{{user._id}}" method="GET">
    <div class="ui grid">
        <div class="fourteen wide column"></div>
        <div class="one wide right aligned column" >
            <button class="ui red button" id="deleteSet">Delete All</button>
        </div>
    </div>
    </form>
{{/unless}}
